<p style="color: green"><%= notice %></p>

<%= button_to 'マイプロフィール', user_path(current_user.id), method: :get %>

<h1>All users</h1>

<div id="users" class="index-users">
  <% @users.each do |user| %>
    <div class="index-user">
      <%= render user %>
      <p>
        <%= link_to "ユーザー画面", user %>
      </p>
    </div>
  <% end %>
</div>
