<p style="color: green"><%= notice %></p>

<div class="show-item">
  <%= render @user %>
</div>

<nav class="page-nav">
  <%= link_to "プロフィール編集", edit_user_registration_path(@user) %> |
  <%= link_to "本一覧へ", books_path %>
</nav>

