<div class="mentions-container">
  <% if @report.mentioned_reports.any? %>
    <strong><%= t('views.common.mentioned_index', report: Report.model_name.human, mention: Mention.model_name.human) %></strong>
    <ul>
      <% @report.mentioned_reports.each do |report| %>
        <li>
          <%= link_to report.title", report %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
